@{
    Layout = "_Layout";
    if (!string.IsNullOrWhiteSpace(ViewBag.Mistake))
    {
        <div class="alert alert-danger" role="alert">
            Ошибка: @ViewBag.Mistake
        </div>
    }
}
<div style="width:450px; margin:auto;">
    <h1>Добавление студента</h1>
    <form method="post" action="/Home/Addendum">
        <div>
            <input required style="margin-top:10px;" type="text" name="Name" class="form-control" placeholder="Имя" />
            <input required style="margin-top:10px;" type="text" name="Surname" class="form-control" placeholder="Фамилия" />
            <input required style="margin-top:10px;" type="text" name="Patronymic" class="form-control" placeholder="Отчество" />
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col">
                <select class="form-control" required name="State">
                    <option>Cтатус &#9759;</option>
                    <option>Очное обучение</option>
                    <option>Заочное обучение</option>
                </select>
            </div>
            <div class="col">
                <input type="text" name="Course" class="form-control" placeholder="Группа" />
            </div>
            <div class="col">
                <input required style="width:150px;" type="date" min="2021-01-01" name="Date" class="form-control" />
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col">
                <button class="btn btn-danger" type="submit">Сохранить</button>
                <a href="/Home/Index" style="float:right;" class="btn btn-dark">Назад</a>
            </div>
        </div>
    </form>
</div>
